<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Playlists</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
  <script src="https://connect.soundcloud.com/sdk-2.0.0.js"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
 <script type="text/javascript" src = 'https://code.jquery.com/jquery-2.1.4.min.js'></script>
  <script type="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src = 'js/main.js'></script>
  <script type="text/javascript" src = 'js/songs.js'></script>
  <script type="text/javascript" src = 'js/playlists.js'></script>
  <script type="text/javascript" src = "https://w.soundcloud.com/player/api.js"></script>
  <script type="text/javascript" src = 'js/DOM.js'></script>
  <script type="text/javascript" src = 'js/soundCloud.js'></script>
</body>
</html>
